
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 30% 93%;
    --foreground: 210 50% 10%;
    --card: 0 0% 100%;
    --card-foreground: 210 50% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 50% 10%;
    --primary: 211 50% 40%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 20% 88%;
    --secondary-foreground: 211 50% 30%;
    --muted: 210 20% 88%;
    --muted-foreground: 210 20% 40%;
    --accent: 39 88% 57%;
    --accent-foreground: 211 50% 10%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;
    --border: 210 20% 85%;
    --input: 210 20% 85%;
    --ring: 211 50% 40%;
    --radius: 0.75rem;
    --sidebar-background: 211 50% 40%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 39 88% 57%;
    --sidebar-primary-foreground: 211 50% 10%;
    --sidebar-accent: 211 40% 30%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 211 40% 30%;
    --sidebar-ring: 39 88% 57%;
  }

  .dark {
    --background: 210 50% 5%;
    --foreground: 210 40% 98%;
    --card: 210 50% 5%;
    --card-foreground: 210 40% 98%;
    --popover: 210 50% 5%;
    --popover-foreground: 210 40% 98%;
    --primary: 39 88% 57%;
    --primary-foreground: 211 50% 10%;
    --secondary: 210 30% 15%;
    --secondary-foreground: 210 40% 98%;
    --muted: 210 30% 15%;
    --muted-foreground: 210 20% 65%;
    --accent: 211 50% 40%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 210 40% 98%;
    --border: 210 30% 15%;
    --input: 210 30% 15%;
    --ring: 39 88% 57%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}
